body{
    margin: auto;
}
.email{
    display: flex;
    justify-content: center;
    background-color: rgb(155, 61, 144);
    color: white;
    margin: auto;    
}
.texte-email{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bouton{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(47, 255, 200);
}
.image{
    height: 50px;
}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.btn{
    background-color: rgb(47, 255, 200);
}
.titre{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: x-large;
}
.para1{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.ul{
    margin-left: 40px;
    margin-right: 40px;
}
.titre2{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size:x-large;
    padding-top: 35px;
}
.para2{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
}