body{
    margin: 0px;
}
.email{
    display: flex;
    justify-content: center;
    background-color: rgb(155, 61, 144);
    color: white;
    margin: auto;    
}
.texte-email{
    margin-top: 15px;
    margin-bottom: 15px;
}
.bouton{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(47, 255, 200);
}
.image{
    height: 50px;
}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
ul {
    
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}

a {

    padding: 15px;
}
.btn{
    background-color: rgb(47, 255, 200);
}
.titre{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: x-large;
}
.para1{
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
}
.ul{
    margin-left: 55px;
    margin-right: 55px;
}
.titre2{
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    font-size:x-large;
    padding-top: 35px;
}
.para2{
    margin-left: 55px;
    margin-right: 55px;
    padding-bottom: 50px;
}
footer{
    height: 300px;
    background-color: darkgray;
    margin: auto;
}
.réseaux{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.image-footer{
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}